* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Inter', sans-serif;
	list-style: none;
	text-decoration: none;
	scroll-behavior: smooth;
	border: none;
	outline: non;
}

:root{
	--bg-color: #191919;
	--second-bg-color: #101010;
	--main-color:  #e9204f;
	--text-color:  #fff;
	--second-color: #e4e4e4;
	--other-color: #c6c9d8bf;

/*	--h1-font: 7rem;*/
	--h1-font: 4rem;
	/*--h2-font: 3.5rem;*/
	--h2-font: 1.5rem;
	/*--p-font: 1.1rem;*/
	--p-font: 15px;
}

.logo{
	height: 100px;
}

body{
	color: var(--text-color);
	background: var(--bg-color);
}

header{
	position: fixed;
	top: 0;
	right: 0;
	z-index: 1000;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	background: transparent;
	padding: 28px 11%;
	border-bottom: 1px solid transparent;
	transition: all ease .50s;
}

.logo img {
	width: 50%;
	height: auto;
}

.navlist{
	display: flex;
}

.navlist a{
	color: var(--second-color);
	font-size: var(--p-font);
	font-weight: 600;
	margin: 0 40px;
	transition: all ease .40s;
}

.navlist a:hover{
	color: var(--main-color);
}

#menu-icon{
	font-size: 42px;
	color: var(--text-color);
	z-index: 10001;
	cursor: pointer;
	display: none;
}

section{
	padding: 120px 19% 100px;
}

.home{
	position: relative;
	min-height: 100vh;
	width: 100%;
	background: url(../img/background3.jpg);
	background-size: cover;
	background-position: center;
	display: flex;
	align-items: center;
	justify-content: flex-start;
}

.hero-text h3{
	color: var(--second-color);
	font-size: 15px;
	font-weight: 600;
	margin-bottom: 15px;
	word-spacing: 10px;
}

.hero-text h1{
	font-family: 'Dosis', sans-serif;
	font-size: var(--h1-font);
	color: var(--text-color);
	font-weight: 800;
	margin-bottom: 20px;
	letter-spacing: 2px;
}

.hero-text h4{
	color: var(--second-color);
	/*font-size: 25px;*/
	font-size: 15px;
	font-weight: 600;
	word-spacing: 1.5px;
	margin-bottom: 3.5rem;
}

.btn{
	display: inline-block;
	padding: 16px 45px;
	background: var(--main-color);
	color: var(--text-color);
	font-size: var(--p-font);
	font-weight: 600;
	border: 2px solid var(--main-color);
	transition: all ease .50s;
}

.btn:hover{
	transform: translateX(5px);
	background: transparent;
	border: 2px solid var(--main-color);
}

header.sticky{
	padding: : 15px 11%;
	background: #000;
	border-bottom: 1px solid #4e5055;
}

.about{
	display: inline-grid;
	grid-template-columns: repeat(auto-fit, minmax(200px, auto));
	align-items: center;
	gap: 4rem;
}

.about-img img{
	width: 100%;
	height: auto;
}
.about-text h2{
	font-family: 'Dosis', sans-serif;
	font-size: var(--h2-font);
	font-weight: 800;
	margin-bottom: 10px;
}

.about-text h5{
	font-size: 22px;
	margin-bottom: 20px;
	line-height: 1.4;
}

span{
	color: var(--main-color);
}

.about-text p{
	color: var(--other-color);
	font-size: var(--p-font);
	line-height: 30px;
	margin-bottom: 3rem;
}

.service{
	background: var(--second-bg-color);
}

.text-center{
	text-align: center;
}

.text-center h2{
	font-family: 'Dosis', sans-serif;
	font-size: var(--h2-font);
	font-weight: 800;
	margin-bottom: 10px;
}

.text-center h4{
	font-size: 22px;
	font-weight: 500;
}

.service-item{
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, auto));
	align-items: center;
	gap: 2.2rem;
	text-align: center;
	margin-top: 4rem;
}

.service-box{
	padding: 45px 30px;
	background: var(--bg-color);
	border-radius: 0.8rem;
	border: 1px solid transparent;
	cursor: pointer;
	transition: all ease .50s
}

.service i{
	font-size: 50px;
	color: var(--main-color);
	margin-bottom: 10px;
}

.service h3{
	font-size: 23px;
	font-weight: 700;
	margin-bottom: 12px;
}

.service p{
	color: var(--other-color);
	font-size: var(--p-font);
	line-height: 30px;
	margin-bottom: 1.5rem;
}

.s-btnn{
	display: inline-block;
	padding: 9px 24px;
	background: var(--main-color);
	color: var(--text-color);
	font-size: 15px;
	font-weight: 500;
	border: 2px solid var(--main-color);
	border-radius: 2rem;
	transition: all ease .50s;
}

.s-btnn:hover{
	transform: scale(1.1);
	background: transparent;
	border: 2px solid var(--main-color);
}

.service-box:hover{
	transform: translateY(-8px);
	border: 1px solid #4e5055;
}

.tools{
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(200px, auto));
	align-items: center;
	gap: 5rem;

}

.center-tools{
	display: flex;
	align-items: center;
	text-align: center;
	gap: 0.5rem;
}

.in i{
	color: var(--main-color);
	opacity: 0.5;
	font-size: 120px;
	margin-bottom: 15px;
	transition: all ease .40s;
}


.in i:hover{
	opacity: 1;
	cursor: pointer;
}

.in img{
	color: var(--main-color);
	opacity: 0.5;
	font-size: 120px;
	margin-bottom: 15px;
	transition: all ease .40s;	
}

.in img:hover{
	opacity: 1;
	cursor: pointer;
}

.in h4{
	font-size: 27px;
	font-weight: 600;
	letter-spacing: 7px;
}

/*.right-contact h2{
	font-family: 'Dosis', sans-serif;
	font-size: var(--h2-font);
	font-weight: 800;
	margin-bottom: 5px; 
}

.right-contact a{
	display: inline-block;
	color: var(--main-color);
	font-size: 20px;
	font-weight: 600;
	margin-bottom: 20px;
	letter-spacing: 2px;
	margin-bottom: 2px solid var(--main-color);
	padding: 3px 0;
	transition: all ease .40s;
}

.right-contact a:hover{
	transform: translateY(-5px);
	color: var(--text-color);
	border-bottom: 2px solid var(--text-color);
}

.right-contact p{
	color: var(--other-color);
	font-size: var(--p-font);
	line-height: 30px;
}
*/

.contact{
	background: #101010;
	height: 100%;
	width: 100%;
	min-height: 100vh;
	display: grid;
	grid-template-columns: repeat(2, 2fr);
	align-items: center;
	grid-gap: 6rem;
}

.contact-form h1{
	font-size: 80px;
	color: #fff;
	margin-bottom: 20px;
}

.contact-form p{
	color: #c6c9d8bf;
	letter-spacing: 1px;
	line-height: 26px;
	font-size: 1.1rem;
	margin-bottom: 3.8rem;
}

.contact-form form{
	position: relative;
}

.contact-form form input, form textarea{
	width: 100%;
	padding: 17px;
	border: none;
	outline: none;
	background: #191919;
	color: #fff;
	font-size: 1.1rem;
	margin-bottom: 0.7rem;
	border-radius: 10px;
}
.contact-form textarea{
	resize: none;
	height: 200px;
}

.contact-form form .btn{
	display: inline-block;
	background: #f9004d;
	font-size: 1.1rem;
	letter-spacing: 1px;
	text-transform: uppercase;
	font-weight: 600;
	border: 2px solid transparent;
	border-radius: 10px;
	width: 220px;
	transition: ease .20s;
	cursor: pointer;
}

.contact-form form .btn:hover{
	border: 2px solid #f9004d;
	background: transparent;
	transform: scale(1.1);
}

.end-section{
	padding: 80px 19% 70px;
	background: var(--second-bg-color);
	display: flex;
	align-items: center;
	flex-direction: column;
	text-align: center;
}

.end-section h3{
	font-size: 28px;
	font-weight: 700;
	margin-bottom: 10px;
}

.end-section p{
	color: var(--other-color);
	font-size: var(--p-font);
	line-height: 30px;
	margin-bottom: 20px;
}

.end-section i{
	height: 40px;
	width: 40px;
	background: var(--main-color);
	color: var(--text-color);
	border: 2px solid var(--main-color);
	display: inline-flex;
	align-items: center;
	justify-content: center;
	font-size: 20px;
	border-radius: 50%;
	margin: 0 9px;
	transition: all ease .50s;
}

.end-section i:hover{
	transform: translateY(-5px);
	background: transparent;
	border: 2px solid var(--main-color);
}

.scroll-bttn i{
	position: fixed;
	right: 2.2rem;
	bottom: 2.2rem;
	color: var(--text-color);
	background: var(--main-color);
	font-size: 23px;
	padding: 9px;
	border-radius: 0.8rem;
}

@media (max-width: 1600px){
	header{
		padding: 14px 4%;
	}
	header.sticky{
		padding: 8px 4%;
	}
	section{
		padding: 100px 5% 80px;
		transition: .2s;
	}
}

@media (max-width: 1200px){
	.home{
		min-height: 9vh;
	}
	.navlist a{
		margin: 0 20px;
	}
	:root{
		--h1-font: 5rem;
		--h2-font: 3.1rem;
		--p-font: 1rem;	
	}
}

@media (max-width: 1060px){
	.about{
		grid-template-columns: 1fr;
	}
	.about-img{
		text-align: center;
		order: 2;
	}
	.about-img img{
		max-width: 100%;
		width: 600px;
		height: auto;
	}
	.service-item{
		grid-template-columns: repeat(auto-fit, minmax(350px, auto));
	}
	.contact{
		grid-template-columns: 1fr;
	}
	.left-contact{
		margin: auto;
	}
}

@media (max-width: 870px){
	#menu-icon{
		display: block;
	}
	.navlist{
		position: absolute;
		top: -800px;
		right: 0;
		left: 0;
		display: flex;
		flex-direction: column;
		background: #000;
		padding: 20px 0;
		text-align: left;
		transition: all.50s ease;
	}
	.navlist a{
		display: block;
		font-size: 22px;
		padding: 12px 0;
	}
	.navlist.open{
		top: 100%;
	}
}

@media(max-width: 659px){
	.home{
		min-height: 80vh;
	}
	:root{
		--h1-font: 3.8rem;
		--h2-font: 2.7rem;
		--p-font: 15rem;
	}
	.hero-text h4 {
		font-size: 18px;
		word-spacing: 10px;
		margin-bottom: 30px;
	}
	.btn{
		padding: 10px 35px;
	}
	.in i{
		font-size: 80px;
	}
	.in h4{
		font-size: 20px;
	}
}

@media(max-width: 460px){
	:root{
		--h1-font: 3.5rem;
		--h2-font: 2.5rem;
	}
	.hero-text h4{
		font-size: 16px;
		word-spacing: 7px;
	}
}

