.bg-body-tertiary {
	padding: 5px;
	margin: 0;
	background-color: skyblue;
}
.nav-ul li {
	display: inline-block;
	padding: 10px;
}

.nav-ul li a {
	color: #fff;
	text-decoration: none;
	padding: 5;
}

.update-product {
	
	border: solid 1px;
	text-align: left;
	width: 100%;
	padding: 1rem;
	
	

}

.inputBox{
	padding: 7px;
	display: block;
	border: 1px solid skyblue;
	width: 95%;
	margin: 20px;
	text-align: left;

}

.appButton {
	margin: 20px;
	width: 150px;
	padding: 10px;
	background-color: skyblue;
	border: solid 1px;
	cursor: pointer;
}

/*.product-list {
	text-align: center;
	margin-top: 50px;
}
*/
.product-list ul li {
	display: inline-table;
	width: 150px;
	border: 1px solid skyblue;
	padding: 5px;
}

.product-list ul {
	margin: 0;
}